{% include top.html %}

<body>
  {% include cookie.html %}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=625212297530223";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="wrapper">
    {% include header.html %}

    <section>
      {{ content }}
      {% include ad_block.html %}
      <hr/>
      {% include addthis.html %}
      <hr/>
      <div class="disqus">
        {% include disqus.html %}
      </div>
    </section>

    {% include footer.html %}
  </div>
  {% include analytics.html %}

</body>
</html>